.vscode
shapeapp/target/
report-aggregate/target/
shapeapp/.settings/
report-aggregate/.settings/
shapeapp/.classpath
report-aggregate/.classpath
shapeapp/.project
shapeapp/target
shapeapp/.flattend-pom.xml
debuglog.log
debuglog.log.*
report-aggregate/.project
shapecore/.settings/
shapecore/.classpath
shapecore/target
shapecore/.flattend-pom.xml
target/
*.log
.flattend-pom.xml
*.log.*
aggregatereport/js/target/
aggregatereport/js/.settings/
aggregatereport/js/.classpath
aggregatereport/js/.flattend-pom.xml
aggregatereport/js/.project
aggregatereport/js/node/node_modules/
aggregatereport/node/tmp/
aggregatereport/node/node_modules/
aggregatereport/target/
js/coverage/
js/node/node_modules/
js/node/tmp/
js/target/
js/.flattend-pom.xml
js/.settings/
js/.classpath
js/.project
.vs/
./vscode/


